<div id="login" class="login-container" *ngIf="isLoginVisible">
  <h2>Login</h2>
  <form (ngSubmit)="handleLogin()">
    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <button type="submit" [disabled]="!isLoginFormValid">Sign In</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
